.answer-count {
  display: block;
  background-color: #2d9cdb;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
